html, body {
    margin: 0;
    background: linear-gradient(orange, lime) repeat-x;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.card {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.titleCard {
    background-color: rgb(207, 255, 255);
    border: 1px solid rgb(12, 140, 140);
    width: 99.8%;
    top: 0;
    left: 0;
}

.convertCard {
    background-color: rgb(1, 194, 97);
    border: 5px solid navy;
    width: 75%;
}

#resultDiv {
    background-color: rgb(185, 185, 6);
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    display: none;
}

#resultMessage {
    font-size: 36px;
}

#result {
    font-size: 54px;
}

.title {
    font-size: 48px;
}

.subtitle {
    font-size: 20px;
}

/* Form CSS */

.formHandle {
    font-size: 24px;
}

.formText {
    font-size: 20px;
}

table {
    margin: 0 auto;
}

#number {
    height: 2.5vh;
    font-size: 24px;
    padding: 2px;
}

#convertBtn {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    background-color: lightgray;
    font-size: 20px;
    margin-bottom: 10px;
}

/* CSS for smaller screen sizes */
@media screen and (max-width: 767px) {
    .titleCard {
        border: 1px solid rgb(12, 140, 140);
        width: 99%;
    }

    #number {
        width: 60%;
        height: 1.5vh;
        font-size: 16px;
    }
    .formHandle {
        font-size: 16px;
    }
    #resultMessage {
        font-size: 18px;
    }
    #result {
        font-size: 24px;
    }
}